.mca-wapper .mca-homepage{
    background-color: #fff;
}

.header2 a {
    text-decoration: none;
}

.header2 h4{
    color: rgb(255, 255, 255);
}

.header2{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.header2 h4{
    font-size: 18px;
    padding: 0px 30px;
    margin-bottom: 0px;
}

.header2 ul{
    list-style: none;
    margin-bottom: 0px;
}

.header2 ul li a{
    text-decoration: none;
    color: black;
}

#home .wrapper{
    background: url('./img/aboutthecollege.jpg');
    background-color: aqua;
}

