*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



:root {
    --primary: #0540F2;
    --background: #eaeaea;
    --para-size: 16px;
    --h1-size: 70px;
    --h4-size: 30px;
}

h1{
    color: var(--primary);
}


h6{
    font-size: 10px;
    font-weight: 200;
}

h1,h2,h3,h4{
    margin: 0px;
}

p{
    font-size: var(--para-size);
}

a{
    text-decoration: none;
}

.mca-page{
    background-color: var(--background);
}

.mca-homepage{
    background-image: url('../assets/img/aboutthecollege.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mca-home{
    background-color: rgba(0, 0, 0, 0.651);
}

.containers{
    margin: 0px 50px;
    padding: 0px;
    max-width: 1500px;
}

.row>*{
    padding: 0px;
}

.header2{
    padding: 15px 0px;
}

.headers h4 a{
    font-size: var(--h4-size);
    color: #fff;
}

nav ul{
    margin: 0px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #ffff;
    font-size: 18px;
}

nav ul li a:hover{
    color: #fff;
}

#home h1{
    font-size: var(--h1-size);
    font-weight: 600;
    color: #fff;
}

#home p{
    color: #fff;
}

.btn-primary{
    padding: 6px 30px;
    border-radius: 30px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-dark{
    background-color: transparent;
    border-radius: 30px;
    padding: 6px 30px;
    border: 1px solid #fff;
}

.card{
    background-color: var(--primary);
    padding: 20px 30px;
    color: #fff;
    border-radius: 21px;
}

#about{
    background-color: var(--primary);
}
.about-container{
    width: 800px;
    color: #fff;
}
.about-container h1{
    color: #fff;
}

.about-field img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.blog-field .card{
    background-color: var(--background);
    padding: 0;
}

.blog-field .card .img-field img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.blog-field .card h6,.card p{
    color: #000;
    font-weight: 300;
}

.blog-field .card h4{
    color: var(--primary);
    font-size: 20px;
}

.blog-field .btn-field{
    width: 100%;
}

@media screen and (max-width: 1020px){
    :root {
        --primary: #1e90ff;
        --background: #eaeaea;
        --para-size: 14px;
        --h1-size: 50px;
        --h4-size: 30px;
    }
}